.tabs {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  position: fixed;
  top: 58px;
  left: 0;
  background-color: lighten($main, 5%);
  border-bottom: 1px solid darken($main, 5%);
  width: 100vw;
  box-sizing: border-box;

  @include media-sm {
    padding-left: calc(58px + .5rem);
    top: calc(58px - 3em);
    background-color: $main;
    border: 0;
  }

  > ul {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    flex-wrap: wrap;

    @include media-sm {
      justify-content: flex-start;
    }
  }

  .tab {
    font-weight: 300;
    font-size: .7em;
    padding: 1em .75em;
    white-space: nowrap;
    flex-shrink: 0;
    display: block;
    color: $text;
    text-decoration: none;

    &:hover {
      background-color: darken($main, 5%);
      cursor: pointer;
    }
  }
}
