<input id="hamburger" class="hamburger" type="checkbox" />
<label for="hamburger" class="hamburger">
  <i></i>
  <span id="text">
    <span id="close">close</span>
    <span id="open">menu</span>
  </span>
</label>
<nav class="primnav">
  <ul>
    <li>
      <a href="#dashboard">
        <svg class="icon"><use xlink:href="#icon-th-large"></use></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#mail">
        <svg class="icon"><use xlink:href="#icon-mail_outline"></use></svg> Mail
        <div class="tag">53</div>
      </a>
      <ul class="secnav">
        <li>
          <a href="#inbox">Inbox</a>
        </li>
        <li>
          <a href="#sent">Sent</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#notifications">
        <svg class="icon"><use xlink:href="#icon-bell2"></use></svg>
        Notifications
        <div class="tag">17</div>
      </a>
    </li>
    <li>
      <a href="#sysadmin">
        <svg class="icon"><use xlink:href="#icon-equalizer"></use></svg> System
        Administration
      </a>
      <ul class="secnav">
        <li>
          <a href="#users">Users</a>
        </li>
        <li>
          <a href="#lists">Lists</a>
        </li>
        <li>
          <a href="#calendar">Calendar</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
