<section
  class="max-w-4xl text-sky-500 flex items-center justify-center min-h-screen flex-wrap mx-auto lg:my-0"
>
  <!--Main Col-->
  <div
    id="profile"
    class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0"
  >
    <div class="p-4 md:p-12 text-center lg:text-left">
      <!-- Image for mobile view-->
      <div
        *skeleton="
          isLoading;
          className: [
            'lg:hidden',
            'rounded-full',
            'block',
            'w-48',
            'h-48',
            'mx-auto',
            '-mt-16'
          ]
        "
        class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center bg-[url('assets/img/rodrix_photo.jpg')]"
      ></div>

      <h1
        *skeleton="
          isLoading;
          className: ['rounded-lg', 'block', 'pt-2', 'w-full', 'h-9', 'mt-3']
        "
        class="text-3xl text-sky-900 font-bold pt-8 lg:pt-0"
      >
        Rodrigo Vieira
      </h1>
      <div
        class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-sky-500 opacity-25"
      ></div>
      <p
        *skeleton="
          isLoading;
          className: ['rounded-lg', 'block', 'pt-2', 'w-full', 'h-9', 'mt-3']
        "
        class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start"
      >
        <fa-icon
          [icon]="['fas', 'briefcase']"
          [fixedWidth]="true"
          [pull]="'left'"
          matTooltip="O que faço"
          matTooltipPosition="left"
        ></fa-icon>
        Full Stack Developer
      </p>
      <p
        *skeleton="
          isLoading;
          className: ['rounded-lg', 'block', 'pt-2', 'w-full', 'h-9', 'mt-3']
        "
        class="pt-2 text-base flex items-center justify-center lg:justify-start"
      >
        <fa-icon
          [icon]="['fas', 'baby-carriage']"
          [fixedWidth]="true"
          [pull]="'left'"
          matTooltip="Minha idade"
          matTooltipPosition="left"
        ></fa-icon>
        40 Anos
      </p>
      <p
        *skeleton="
          isLoading;
          className: ['rounded-lg', 'block', 'pt-2', 'w-full', 'h-9', 'mt-3']
        "
        class="pt-2 text-base flex items-center justify-center lg:justify-start"
      >
        <fa-icon
          [icon]="['fas', 'mobile']"
          [fixedWidth]="true"
          [pull]="'left'"
          matTooltip="Meu telefone"
          matTooltipPosition="left"
        ></fa-icon>
        +55 (11) 9 5477-7856
      </p>
      <p
        *skeleton="
          isLoading;
          className: ['rounded-lg', 'block', 'pt-2', 'w-full', 'h-9', 'mt-3']
        "
        class="pt-2 text-base flex items-center justify-center lg:justify-start"
      >
        <fa-icon
          [icon]="['fas', 'dove']"
          [fixedWidth]="true"
          [pull]="'left'"
          matTooltip="Meu email"
          matTooltipPosition="left"
        ></fa-icon>
        cvieira.rodrigo@gmail.com
      </p>

      <p
        *skeleton="
          isLoading;
          className: ['rounded-lg', 'block', 'pt-8', 'w-full', 'h-32', 'mt-3']
        "
        class="pt-8 text-sm"
      >
        Olá! Meu nome é Rodrigo Vieira, sou um desenvolvedor Full Stack, que
        gosta de programar e aprender novas tecnologias.
      </p>

      <div
        class="mt-6 pb-16 lg:pb-0 w-4/5 lg:w-full mx-auto flex flex-wrap items-center justify-between"
      >
        <a
          aria-label="Vá para a sessão de contato do currículo"
          matTooltip="Entre em contato"
          matTooltipPosition="above"
          href="#"
          mat-button
        >
          <fa-icon
            *skeleton="
              isLoading;
              className: ['rounded-full', 'inline-block', 'px-4', 'w-9', 'h-9']
            "
            [icon]="['fas', 'fingerprint']"
            size="2x"
            [fixedWidth]="true"
          ></fa-icon>
        </a>

        <a
          aria-label="Vá para meu perfil no LinkedIn"
          matTooltip="LinkedIn"
          matTooltipPosition="above"
          href="https://www.linkedin.com/in/rodrix/"
          mat-button
        >
          <fa-icon
            *skeleton="
              isLoading;
              className: ['rounded-full', 'inline-block', 'px-4', 'w-9', 'h-9']
            "
            [icon]="['fab', 'linkedin']"
            size="2x"
            [fixedWidth]="true"
          ></fa-icon>
        </a>

        <a
          aria-label="Vá para meu perfil no Facebook"
          matTooltip="Facebook"
          matTooltipPosition="above"
          href="https://www.facebook.com/rodrix.me/"
          mat-button
        >
          <fa-icon
            *skeleton="
              isLoading;
              className: ['rounded-full', 'inline-block', 'px-4', 'w-9', 'h-9']
            "
            [icon]="['fab', 'facebook']"
            size="2x"
            [fixedWidth]="true"
          ></fa-icon>
        </a>

        <a
          aria-label="Vá para meu perfil no Twitter"
          matTooltip="Twitter"
          matTooltipPosition="above"
          href="https://twitter.com/rcruzvieira"
          mat-button
        >
          <fa-icon
            *skeleton="
              isLoading;
              className: ['rounded-full', 'inline-block', 'px-4', 'w-9', 'h-9']
            "
            [icon]="['fab', 'twitter']"
            size="2x"
            [fixedWidth]="true"
          ></fa-icon>
        </a>

        <a
          aria-label="Vá para meu perfil no Github"
          matTooltip="Github"
          matTooltipPosition="above"
          href="https://github.com/rcruzv"
          mat-button
        >
          <fa-icon
            *skeleton="
              isLoading;
              className: ['rounded-full', 'inline-block', 'px-4', 'w-9', 'h-9']
            "
            [icon]="['fab', 'github']"
            size="2x"
            [fixedWidth]="true"
          ></fa-icon>
        </a>

        <a
          aria-label="Vá para meu perfil no Instagram"
          matTooltip="Instagram"
          matTooltipPosition="above"
          href="https://www.instagram.com/rcruzv/"
          mat-button
        >
          <fa-icon
            *skeleton="
              isLoading;
              className: ['rounded-full', 'inline-block', 'px-4', 'w-9', 'h-9']
            "
            [icon]="['fab', 'instagram']"
            size="2x"
            [fixedWidth]="true"
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <!--Img Col-->
  <div
    *skeleton="
      isLoading;
      className: [
        'sm:hidden',
        'rounded-lg',
        'block',
        'pt-2',
        'w-full',
        'h-5/6',
        'lg:w-2/5'
      ]
    "
    class="w-full h-5/6 flex flex-col lg:w-2/5 sm:hidden"
  >
    <!-- Big profile image for side bar (desktop) -->
    <img
      aria-label="Foto de perfil"
      src="assets/img/rodrix_photo.jpg"
      class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block object-cover min-h-0"
    />
  </div>
</section>
