<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Contato</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              matInput
              placeholder="Primeiro nome"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="contactForm.controls['firstName'].hasError('required')"
            >
              Primeiro nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              matInput
              placeholder="Sobrenome"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="contactForm.controls['lastName'].hasError('required')"
            >
              Sobrenome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              placeholder="Mensagem"
              formControlName="message"
            ></textarea>
            <mat-error
              *ngIf="contactForm.controls['message'].hasError('required')"
            >
              Mensagem é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
