#content {
  font-family: "Pacifico", cursive;
  color: rgba(white, 0.9);
  font-size: 8vw;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0070cc;
  height: 100%;
  padding-top: 58px;
  box-sizing: border-box;
  position: relative;
}
