@import "../../styles/0-base/colors";
@import "../../styles/3-helpers/mixins";
@import "../../styles/2-modules/hamburger";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


%sidebar-hover {
  @include alpha-attribute('background-color', rgba($main, 0.6), white);
}

nav.primary {
  position: fixed;
  height: 58px;
  width: 100vw;
  font-size: .8em;
  text-transform: uppercase;
  background-color: lighten($main, 5%);
  display: flex;
  flex-direction: column;
  transition: height 246ms .5s ease;
  padding-top: 58px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  z-index: 1;
  @include media-sm {
    height: 100vh;
    width: 58px;
    transition: width 246ms .5s ease;
  }

  > ul {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  li {
    font-weight: 400;
    position: relative;
    &:hover {
      @extend %sidebar-hover;
    }
    .tag {
      @include alpha-attribute('background-color', rgba($main, .8), black);
      color: $text;
      @include alpha-attribute('color', rgba($text, .9), black);
      padding: 0 .5em;
      border-radius: 2em;
      margin-left: auto;
      margin-right: .75em;
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
      @include alpha-attribute('color', rgba($text, 0.8), white);
      text-decoration: none;
    }

  }
  .icon {
    height: 20px;
    flex-shrink: 0;
    width: 20px;
    padding: 19px;
    margin-right: 5px;
    padding-bottom: 15px;
    @include alpha-attribute('color', rgba($text, .9), black);
  }
  expand:hover {
    @extend %sidebar-hover;
  }
}

.secondary {
  margin-left: 63px;
  border-left: 1px solid black;
  @include alpha-attribute('border-left-color', rgba($main, .9), black);
  overflow: hidden;

  li {
    @include alpha-attribute('color', rgba($text, .9), black);
    max-height: 100px;
    transition: max-height .1s;

    @include media-sm {
      max-height: 0px;
      transition: max-height .5s .5s;
    }

    a {
      text-transform: initial;
      display: block;
      color: inherit;
      padding: .75em 10px;
    }
  }
}

#user {
  padding: 5px;
  padding-bottom: 3px;
  flex-shrink: 0;
  position: fixed;
  font-weight: 400;
  right: 0;
  @include alpha-attribute('color', rgba($text, 0.9), white);
  z-index: 99999;

  > section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    > section {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }
  }
  img {
    height: 51px;
    width: 48px;
    clip-path: circle(50% at 50% 50%);
    margin-left: 10px;
    min-height: 51px;
    min-width: 48px;
    align-items: flex-end;
  }
  #name {
    font-weight: 400;
  }
  #actions {
    padding: .1em 0;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;

    a {
      padding: 0 .5em;
      color: $text;
      text-decoration: none;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

div#content {
  font-family: 'Pacifico', cursive;
  color: rgba($text, .9);
  font-size: 8vw;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main;
  height: 100%;
  padding-top: 58px;
  box-sizing: border-box;
  position: relative;
  @include media-sm {
    padding-left: 58px;
    padding-top: 0;
  }
}

.features {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  li {
    width: 100%;
    text-align: center;
    padding: .25em;
  }
}

.icon {
  display: inline-block;
  width: 5vw;
  height: 4vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.tabs {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  position: fixed;
  top: 58px;
  left: 0;
  background-color: lighten($main, 5%);
  border-bottom: 1px solid darken($main, 5%);
  width: 100vw;
  box-sizing: border-box;

  @include media-sm {
    padding-left: calc(58px + .5rem);
    top: calc(58px - 3em);
    background-color: $main;
    border: 0;
  }

  > ul {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    flex-wrap: wrap;

    @include media-sm {
      justify-content: flex-start;
    }
  }

  .tab {
    font-weight: 300;
    font-size: .7em;
    padding: 1em .75em;
    white-space: nowrap;
    flex-shrink: 0;
    display: block;
    color: $text;
    text-decoration: none;

    &:hover {
      background-color: darken($main, 5%);
      cursor: pointer;
    }
  }
}
