<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Rodrigo da Cruz Vieira" />
    <title>Rodrix</title>
  </head>
  <body class="mat-typography">
    <input id="hamburger" class="hamburger" type="checkbox" />
    <label for="hamburger" class="hamburger">
      <i></i>
      <span>
        <span>close</span>
        <span>menu</span>
      </span>
    </label>
    <nav class="primary">
      <ul>
        <li>
          <a href="#dashboard">
            <svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-th-large"></use></svg>
            Painel
          </a>
        </li>
        <li>
          <a href="#mail">
            <svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-mail_outline"></use></svg>
            Correio
            <div class="tag">53</div>
          </a>
          <ul class="secondary">
            <li>
              <a href="#inbox">Entrada</a>
            </li>
            <li>
              <a href="#sent">Saída</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#notifications">
            <svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-bell2"></use></svg>
            Notificações
            <div class="tag">17</div>
          </a>
        </li>
        <li>
          <a href="#sysadmin">
            <svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-equalizer"></use></svg>
            Sistema
          </a>
          <ul class="secondary">
            <li>
              <a href="#users">Usuários</a>
            </li>
            <li>
              <a href="#lists">Listas</a>
            </li>
            <li>
              <a href="#calendar">Calendário</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div id="user">
      <section>
        <img
          src="https://randomuser.me/api/portraits/lego/1.jpg"
          alt="Random user image"
        />
        <section>
          <span id="name">Rodrigo Vieira</span>
          <span id="actions">
            <a href="#settings">configurações</a> | <a href="#logout">sair</a>
          </span>
        </section>
      </section>
    </div>

    <div id="content">
      <!-- <nav class="tabs">
        <ul>
          <li><a class="tab" href="#">Tab One</a></li>
          <li><a class="tab" href="#">Tab Two</a></li>
          <li><a class="tab" href="#">Tab Three</a></li>
          <li><a class="tab" href="#">Tab Four</a></li>
          <li><a class="tab" href="#">Tab Five</a></li>
        </ul>
      </nav>
      <ul class="features">
        <li>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-chrome"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-safari"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-edge"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-firefox"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-IE"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-opera"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-appleinc"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../assets/img/icons.svg#icon-android"></use>
          </svg>
        </li>
      </ul> -->
    </div>
  </body>
</html>
