<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Rodrigo da Cruz Vieira" />
    <title>Rodrix</title>
  </head>
  <body class="mat-typography">
    <input
      id="hamburger"
      class="hamburger"
      type="checkbox"
      [(ngModel)]="checked"
    />
    <label
      for="hamburger" class="hamburger">
      <i></i>
      <span class="burguer">
        <span>close</span>
        <span>menu</span>
      </span>
    </label>
    <nav id="menu">
      <a class="nav-link active" aria-current="page" (click)="closeMenu()" routerLink="/" >Início</a>
      <a class="nav-link active" aria-current="page" (click)="closeMenu()" routerLink="/contact-us">Contato</a>
      <a class="nav-link active" aria-current="page" (click)="closeMenu()" routerLink="/dashboard">Painel</a>
      <a class="nav-link" routerLink="/login">Entrar</a>
    </nav>
    <main (click)="closeMenu()">
      <router-outlet></router-outlet>
    </main>
  </body>
</html>
