<input
      id="hamburger"
      class="hamburger"
      type="checkbox"
      [(ngModel)]="checked"
    />
    <label
      for="hamburger" class="hamburger">
      <i></i>
      <span class="burguer">
        <span>close</span>
        <span>menu</span>
      </span>
    </label>
    <nav id="menu">
      <a class="nav-link" aria-current="page" (click)="closeMenu()" routerLink="/" >Início</a>
      <a class="nav-link" aria-current="page" (click)="closeMenu()" routerLink="/contact">Contato</a>
      <a class="nav-link" aria-current="page" (click)="closeMenu()" routerLink="/dashboard">Painel</a>
      <a class="nav-link" aria-current="page" (click)="closeMenu()" routerLink="/user">Entrar</a>
      <a class="nav-link" aria-current="page" (click)="closeMenu()" routerLink="/user/register">Registrar</a>
    </nav>
    <main (click)="closeMenu()">
      <router-outlet></router-outlet>
    </main>
