<section class="min-h-screen w-full mx-auto flex items-center justify-center">
  <form
    class="bg-white p-16 rounded-md drop-shadow-lg w-3/5"
    (ngSubmit)="transferir()"
  >
    <h2 class="capitalize text-sky-700 text-2xl">Nova Transferência</h2>

    <div class="w-full my-4 flex flex-col text-sky-700">
      <label class="mb-1 text-xs" for="valor">Valor</label>
      <input
        class="p-2 rounded-md border-2 border-solid outline-none"
        id="valor"
        type="number"
        [(ngModel)]="valor"
        name="valor"
      />
    </div>

    <div class="w-full my-4 flex flex-col text-sky-700">
      <label class="mb-1 text-xs" for="destino">Destino</label>
      <input
        class="p-2 rounded-md border-2 border-solid outline-none"
        id="destino"
        type="text"
        [(ngModel)]="destino"
        name="destino"
      />
    </div>

    <div class="flex">
      <button
        class="bg-sky-700 text-white block flex-1 border-none rounded text-base p-2 cursor-pointer opacity-70 hover:opacity-80"
        type="submit"
      >
        Transferir
      </button>
    </div>
  </form>
</section>
