<section class="min-h-screen w-full mx-auto flex items-center justify-center">
  <table
    class="text-center mx-0 my-auto bg-white rounded-md drop-shadow-lg w-3/5"
  >
    <thead class="text-sky-700">
      <th class="p-3 border-b-2 border-solid border-b-sky-700">Data</th>
      <th class="p-3 border-b-2 border-solid border-b-sky-700">Valor</th>
      <th class="p-3 border-b-2 border-solid border-b-sky-700">Destino</th>
    </thead>
    <tbody *ngIf="transferencias.length > 0; else listaVazia">
      <tr
        class="w-full mb-3 border-b-2 border-solid border-b-sky-700 last:border-b-0"
        *ngFor="let transferencia of transferencias"
      >
        <td class="p-3 w-2/4">
          {{ transferencia?.data | date: "short" }}
        </td>
        <td class="p-3 w-1/4">
          {{ transferencia?.valor | currency }}
        </td>
        <td class="p-3 w-1/4">
          {{ transferencia?.destino }}
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <tr>
      <td colspan="3" class="text-center">Não existem informações</td>
    </tr>
  </ng-template>
</section>
